@model MySqlCRUD.Models.ViewModels.MitablaViewModel
<div class="col-md-12 panel panel-default">

    <div class="text-right form-inline">
        @Html.LabelFor(d => d.Nombre)
        @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })

    </div>
    <div>
        @Html.LabelFor(d => d.Correo)
        @Html.TextBoxFor(d => d.Correo, "", new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(d => d.Fecha_Nacimiento)<br />
        @Html.EditorFor(d => d.Fecha_Nacimiento, "", new { @class = "form-control" })
    </div>

    <br />
    <br />
</div>
